@page
@model eStore.Client.Pages.Auth.LoginModel
<form method="post">

    <div class="mb-3">
        <label asp-for="LoginRequest.Email"></label>
        <input asp-for="LoginRequest.Email" class="form-control" />
    </div>
    <div class="mb-3">
    <label asp-for="LoginRequest.Password"></label>
    <input asp-for="LoginRequest.Password" class="form-control" type="password" />
    </div>
    <button type="submit" class="btn btn-primary" style="width:150px">Login</button>

    <a class="btn btn-primary"  asp-page="/Auth/Register">Register</a>

    <a asp-page="/Index" class="btn btn-primary">Back To Home</a>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>
