@page
@model eStore.Client.Pages.Home.IndexModel
@{
}
<div class="row pb-3">

@* 	<form asp-page="/Client/Home/Index" method="get">
		<div class="form-actions no-color">
			<p>
				Find by name:
				<input type="text" name="SearchString" />
				<input type="submit" value="Search" class="btn btn-primary" />
				<a asp-page="/Client/Home/Index">Back to full List</a>
			</p>
		</div>
	</form> *@
	@foreach (var obj in Model.Product)
	{
		<div class="col-lg-3 col-sm-6">
			<div class="row p-2">
				<div class="col-12 p-1">
					<div class="card border-0 p-3 shadow border-top border-5 rounded">
						<h2 class="card-title text-dark opacity-100 text-uppercase text-center fw-bold">
							@obj.ProductName
						</h2>

						<div class="pl-1">
							<p class="text-dark text-opacity-50 text-center">
								Units in stock:
								<span class="text-decoration-none">
									@obj.UnitsInStock
								</span>
							</p>
						</div>
						<div class="pl-1">
							<p class="text-dark text-opacity-50 text-center">
								Price:
								<span class="text-decoration-none">
									@obj.UnitPrice.ToString("c")
								</span>
							</p>
						</div>
						<div>
							<a asp-page="detail"
							   asp-route-id="@obj.ProductId"
							   class="btn btn-link bg-gradient border-0 form-control">
								Details
							</a>
						</div>
					</div>

				</div>
			</div>

		</div>
	}
</div>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}